includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src/
        - tests/

    # Level 9 is the highest level
    level: 9

    ignoreErrors:
        #PHPStan doesn't currently handle browser macros etc
        - '#^Call to an undefined method Laravel\\Dusk\\Browser\:\:[a-zA-Z]+\(\)\.$#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
